<div class="login-view">
    <div class="row">
        <div class="col-md-7">
        </div>
        <div class="col-md-4 login-part">
            <div class="login-section">
                <div class="icon-info">
                   <div class="person">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                   </div>
                   <div class="login-text">
                        Member Login
                   </div>
                </div>
                <div class="login-user">
                    <p><i class="fa fa-user-circle" aria-hidden="true"></i> <input type="text" placeholder="Username"></p>
                    <p><i class="fa fa-lock" aria-hidden="true"></i><input type="password" placeholder="Password"></p>
                    <button>Login</button>
                    <p class="forgot"><a>Forgot password?</a></p>
                    <p class="sign-up">Not a member? <a>Sign up now</a></p>
                </div>
            </div>
        </div>
        
    </div>
</div>
